Repository hmcts/ccpay-service-request-cpo-update-service, pull requests merged in 2022-08, with the labels that each got.

#103 opening new PR for demo image pull
  charts/ccpay-cpo-update-service/Chart.yaml
  charts/ccpay-cpo-update-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/services/ServiceBusMessageServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-103

#105 corrected IDAM URL in PROD
  src/main/java/uk/gov/hmcts/reform/services/IdamServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-105

#106 reverted IDAM URL fix
  src/main/java/uk/gov/hmcts/reform/services/IdamServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-106

#107 Fix idam url after cpo enabled
  src/main/java/uk/gov/hmcts/reform/services/CpoUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/services/IdamServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-107

#108 Add backstage configuration file
  catalog-info.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-108
