Repository hmcts/ccpay-service-request-cpo-update-service, pull requests merged in 2023-03, with the labels that each got.

#166 upgrading java chart to 4.0.12 and commons fileupload to v1.5
  charts/ccpay-cpo-update-service/Chart.yaml
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-166

#171 suppressed new cve
  config/owasp/suppressions.xml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-171

#172 CVE service request
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-172

#174 Update Chart.yaml
  charts/ccpay-cpo-update-service/Chart.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-174
