Repository hmcts/ccpay-service-request-cpo-update-service, pull requests merged in 2024-04, with the labels that each got.

#215 PAY-5797: Update to add new SB Topic
  build.gradle
  charts/ccpay-cpo-update-service/Chart.yaml
  cve-resolution-strategy.gradle
  infrastructure/main.tf
Labels: ns:fees-pay, prd:ccpay, aat/add-or-update, rel:ccpay-cpo-update-service-pr-215

#218 Pay 6982 PR Auto close Bot file addition
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/stale.yml
  Dockerfile
  Jenkinsfile_nightly
  build.gradle
  charts/ccpay-cpo-update-service/Chart.yaml
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  src/main/java/uk/gov/hmcts/reform/config/SwaggerConfiguration.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-218

#219 PAY-6982 PR Auto close Bot Addition of stale.yml
  .github/workflows/stale.yml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-cpo-update-service-pr-219
